body, #app {
    font-family: 'Sen', sans-serif;
    margin: 0;
    height: 100%;
}

.fill {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
}

#logo {
    position: absolute;
    top: 10px;
    left: 10px;
    margin: 0;
    color: rgb(194, 194, 194);
}

input {
    font: inherit;
    width: 90%;
    padding: 10px 10px;
    border: none;
    background: none;
    outline: none;
    text-align: center;
    margin: 0 auto;
    display: block;
    box-shadow: lightgray 0 0 10px 0px;
    background-color: rgba(200, 200, 200, 0.2);
    color: black;
    font-size: 200%;
    box-sizing: border-box;
    border-radius: 5px;
}

input::placeholder {
    color: rgb(199, 199, 199);
}

input:focus {
    background-color: rgba(200, 200, 200, 0.4);
    box-shadow: rgba(200, 200, 200, 0.7) 0 0 30px 5px;
}

.equation-preview {
    padding-top: 10px;
    width: 90%;
    margin-left: 5%;
    padding-bottom: 10px;
}

.equation-preview > div {
    background-color: white;
    padding: 10px 10px;
    border-radius: 5px;
    box-shadow: rgba(200, 200, 200, 0.5) 0 0 10px 0;
    cursor: pointer;
    box-sizing: border-box;
    overflow: hidden;
}

.equation-preview:hover {
    transform: scale(1.03);
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
}

.equation-preview .katex-display {
    display: inline-block;
    margin: 0;
    color: rgb(151, 151, 151);
}

hr {
    height: 1px;
    background-color: lightgray;
    border: none;
    width: 80%;
}

.abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    margin: 0;
    width: 100%;
}

#search {
    position: fixed;
    margin-left: 5%;

    transition: background-color 0.05s linear, box-shadow 0.05s linear, bottom 0.3s ease;

    height: 50px;
}

.empty #search {
    bottom: 47%;
}

.searching #search {
    bottom: 90%;
}

.focused #search {
    bottom: 60%;
}

#equations {
    position: fixed;
    left: 5%;
    width: 90%;
    height: calc(89vh);
    transition: top 0.3s ease;
    overflow-y: scroll;
}

.empty #equations {
    top: 100%;
}

.searching #equations {
    top: 11%;
}

.focused #equations {
    top: 100%;
}

#focus {
    position: fixed;
    left: 5%;
    top: 100%;
    background-color: white;
    border-radius: 5px;
    padding: 10px 10px;
    box-sizing: border-box;
    box-shadow: rgba(200, 200, 200, 0.5) 0 0 10px 0;

    transition: top 0.3s ease;

    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
    width: 90%;
}

.focused #focus {
    top: 40%;
}

#focus .katex-display {
    margin: 0;
}

.expand-leave-active, .expand-enter-active {
    transition: opacity 0.2s ease-out;
}

.expand-enter, .expand-leave-to {
    opacity: 0;
}

@media only screen and (max-width: 700px) {
    body {
        font-size: 70%;
    }

    .equation-preview {
        padding-top: 10px;
    }
}

.truncate {
    text-overflow: ellipsis;
    width: 500px;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
}

a {
    color: rgb(77, 77, 77);
}

a:visited {
    color: rgb(126, 126, 126);
}